<div class="container">
    <div>
        <div class="row">
            <label for="selectedProfile">Pick a profile</label>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <select id="selectedProfile" ng-model="vm.selectedProfile" ng-options="profile.id as profile.name for profile in vm.searchProfiles" class="form-control" ></select>
            </div>
            <div class="col-xs-2">
                <input class="form-control" ng-model="vm.dateFrom" type="date">
            </div>
            <div class="col-xs-2">
                <input class="form-control" ng-model="vm.dateUntil" type="date">
            </div>
            <div class="col-xs-2">
                <select class="form-control" ng-model="vm.scale">
                    <option value="YEARS">Years</option>
                    <option value="MONTHS">Months</option>
                    <option value="WEEKS">Weeks</option>
                    <option value="DAYS">Days</option>
                </select>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-primary btn-margin" ng-click="vm.performComparison()">Perform comparison</button>
            </div>
        </div>
        <div class="row" ng-repeat="(name, algorithmData) in vm.comparisonData">
            <div class="col-xs-11">
                <h4>{{::name}}</h4>
                <canvas id="line" class="chart chart-line" chart-data="algorithmData.data"
                    chart-labels="algorithmData.labels" chart-legend="true" chart-series="algorithmData.series"
                    chart-click="vm.onClick" chart-options = vm.chartOptions>
                </canvas>
            </div>
        </div>
    </div>
</div>
